<a href="https://colab.research.google.com/github/DaniBitencourt/arquivo_notbook_kagle/blob/main/an_lises_para_campanha_de_marketing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Talvez você não saiba, mas existem diferentes análises de dados*

*Esse notebook faz parte do curso SQL para análise de dados da EBAC -  Escola Britânica de Artes Criativas & Tecnologia*

>Imagine que uma empresa de cartões de crédito "Card" está planejando uma campanha de marketing para lançar um novo produto inovador. Eles têm acesso a um conjunto de dados detalhado sobre seus clientes, incluindo informações demográficas, financeiras e comportamentais. Visam identificar o público-alvo adequado, entender as preferências dos clientes, explorar associações entre variáveis e determinar os melhores momentos e abordagens para lançar a campanha.

## Descrição dos dados:

Os dados contam com as seguintes coletas quando considerando apenas uma fração dos dados:

* idade = idade do cliente
* sexo = sexo do cliente (F ou M)
* dependentes = número de dependentes do cliente
* escolaridade = nível de escolaridade do clientes
* salario_anual = faixa salarial do cliente
* tipo_cartao = tipo de cartao do cliente
* qtd_produtos = quantidade de produtos comprados nos últimos 12 meses
* iteracoes_12m = quantidade de iterações/transacoes nos ultimos 12 meses
* meses_inativo_12m = quantidade de meses que o cliente ficou inativo
* limite_credito = limite de credito do cliente
* valor_transacoes_12m = valor das transações dos ultimos 12 meses
* qtd_transacoes_12m  = quantidade de transacoes dos ultimos 12 meses


A tabela foi criada no **AWS Athena** junto com o **S3 Bucket**, **SQL LIGHT** e **Microsoft SQL server Management (SSMS)** com uma versão dos dados disponibilizados em: https://github.com/andre-marcos-perez/ebac-course-utils/tree/main/dataset

## **Importando CSV nos SGBD:**

>*SQL light;*
>[Importação utilizando todas as linhas e colunas](https://github.com/andre-marcos-perez/ebac-course-utils/blob/main/dataset/credito.csv)

>![Importando credito em sql light](http://raw.githubusercontent.com/DaniBitencourt/imagens_notbook_kaggle/main/Importação%20no%20light.png)

>*AWS S3:*
>[Importação considerando apenas uma fração dos dados](https://github.com/DaniBitencourt/arquivo_notbook_kagle/blob/main/credito8.csv)

>![Importando credito em AWS S3](https://raw.githubusercontent.com/DaniBitencourt/imagens_notbook_kaggle/main/Importa%C3%A7%C3%A3o%20no%20S3.png)

>* Microsoft SQL Server Management Studio (SSMS):*
>[Importação considerando apenas uma fração dos dados](https://github.com/DaniBitencourt/arquivo_notbook_kagle/blob/main/credito8.csv)

>![Importando credito em SQL Server](https://raw.githubusercontent.com/DaniBitencourt/imagens_notbook_kaggle/main/Importa%C3%A7%C3%A3o%20SSMS.png)

## **Análise Exploratória de dados(EDA):**

>Para garantir o sucesso da campanha, a Card realiza uma análise exploratória desses dados e formulam perguntas estratégicas

Deve ser a primeira fase que consiste em investigar os dados ou entender o que a Card tem de dados. Proporciona uma compreensão detalhada dos dados, detecta problemas e erros, auxilia na seleção de variáveis relevantes, gera hipóteses e facilita a comunicação dos resultados.

## *Qual o volume de dados?*

Query: select count(*) from credito
>Respostas no AWS Athena: 2564 linhas

>Respostas no SQL Light: 10127 linhas

>Reposta no SSMS: 2564 linhas

***ps.:** Quanto maior a quantidade de dados utilizada, mais confiável a análise. Na prática você pode utilizar todas as linhas ou considerar apenas uma fração dos dados. A base de dados [ebac-course-utils/ conjunto de dados/credito.csv do gitHub André Perez](https://github.com/andre-marcos-perez/ebac-course-utils/blob/main/dataset/credito.csv) contém mais linhas do que a utilizada na AWS e Microsoft SQL server Management. Pois  existem limites computacionais e financeiros na AWS e Microsoft SQL server Management na qual a redução de dados para análise para fins de estudo se torna interessante.

## *Como são os dados?*

### No AWS Athena:

>Query: SELECT * FROM credito LIMIT 10;
![Dez primeiras linhas do dataset](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Volume_de_Dados_AWS.png?raw=true)

### No SQL Light:
>Query: SELECT * FROM credito LIMIT 10;
![Dez primeiras linhas do dataset](https://raw.githubusercontent.com/DaniBitencourt/imagens_notbook_kaggle/main/Volume_SQL_light.png)

### No SSMS:
>Query: SELECT TOP 10 *FROM credito;
![Dez primeiras linhas do dataset](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Vol_SSMS.png?raw=true)


> É possível reparar que existem algumas informações nulas na tabela (na), vamos olhar mais de perto para os valores de cada coluna!

## *Quais as variáveis e tipos existentes no banco?*

Váriaveis são as colunas o tipo seria numéricas, categóricas, textuais e etc...

### No AWS Athena:
>Query: DESCRIBE credito;
![Tipo de dados no AWS Athena](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Tipo%20de%20dados%20Athena.png?raw=true)

### No SQL Light:
>Query: PRAGMA table_info(credito);
![Tipo de dados no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Tipo%20de%20dados%20SQLight.png?raw=true)

### No SSMS:
>Query: SELECT COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS
![Tipo de dados no SSMS](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Tipo%20de%20dados%20SSMS.png?raw=true)


Agora que ja entendemos quais são os tipos de dados, vamos olhar mais atentamente para as varíaveis que não são numéricas.


## *Qual a proporção de valores nulos no banco?*

### No AWS Athena:

Query: SELECT
(SELECT COUNT() FROM credito
WHERE sexo IS NULL OR estado_civil = 'na' or
escolaridade IS NULL OR escolaridade = 'na' or
estado_civil IS NULL OR estado_civil = 'na' or
salario_anual IS NULL OR salario_anual = 'na' or
tipo_cartao IS NULL OR tipo_cartao = 'na') AS linhas_vazias,
COUNT() AS linhas_totais
FROM credito

>![nulos no AWS Athena](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Valores%20nulos%20aws.png?raw=true)

### No SQL Light:
Query: select (select COUNT(*) from credito
where sexo IS NULL OR estado_civil = 'na' or
escolaridade IS NULL OR escolaridade = 'na' or
estado_civil IS NULL OR estado_civil = 'na' or
salario_anual IS NULL OR salario_anual = 'na' or
tipo_cartao IS NULL OR tipo_cartao = 'na') as 'Linhas vazias', COUNT(*) as 'linhas totais' from  credito
>![nulos no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Valores%20nulos%20light.png?raw=true)

### No SSMS:
Query: select (select COUNT(*) from credito
where sexo IS NULL OR estado_civil = 'na' or
escolaridade IS NULL OR escolaridade = 'na' or
estado_civil IS NULL OR estado_civil = 'na' or
salario_anual IS NULL OR salario_anual = 'na' or
tipo_cartao IS NULL OR tipo_cartao = 'na') as 'Linhas vazias', COUNT(*) as 'linhas totais' from  credito ;
>![nulos no SSMS](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Valores%20nulos%20SSMS.png?raw=true)


## *Quais são os tipos de escolaridades disponíveis no dataset?*

### No AWS Athena:
>Query: SELECT DISTINCT escolaridade FROM credito
![escolaridade no AWS Athena](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Escolaridadess%20no%20aws.png?raw=true)

### No SQL Light:
>Query: SELECT DISTINCT escolaridade FROM credito
![escolaridades no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Escolaridadess%20no%20light.png?raw=true)

### No SSMS:
>Query: SELECT DISTINCT CAST(escolaridade AS VARCHAR(100)) AS escolaridade
FROM credito;
![Escolaridade no SSMS](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Escolaridadess%20no%20ssms.png?raw=true)
**ps.:** O tipo de dados text não pode ser usado diretamente na cláusula GROUP BY devido às restrições de comparação e classificação.Para corrigir o erro, você pode aplicar a função CAST ou CONVERT para converter o tipo de dados text para um tipo de dados compatível, como VARCHAR, antes de usar na cláusula GROUP BY.

> Os dados contam com vários níveis de escolaridade e é possível perceber que temos valores nulos (na) no dataset, trataremos isso mais tarde!

## *Quais são os tipos de status civil disponíveis no dataset?*

### No AWS Athena:
>Query: SELECT DISTINCT estado_civil FROM credito
![estado civil no AWS Athena](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/estado%20civil%20no%20aws.png?raw=true)

### No SQL Light:
>Query: SELECT DISTINCT estado_civil FROM credito
![estado civil no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Estado%20civil%20no%20light.png?raw=true)

### No SSMS:
>Query: SELECT DISTINCT CAST(estado_civil AS VARCHAR(100)) AS estado_civil
FROM credito;
![estado civil no SSMS](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/estado%20civil%20no%20ssms.png?raw=true)
**ps.:** O tipo de dados text não pode ser usado diretamente na cláusula GROUP BY devido às restrições de comparação e classificação.Para corrigir o erro, você pode aplicar a função CAST ou CONVERT para converter o tipo de dados text para um tipo de dados compatível, como VARCHAR, antes de usar na cláusula GROUP BY.

> Novamente encontramos valores nulos nos dados de estado civil!

## *Quais são as faixas salarias anuais disponíveis no dataset?*

### No AWS Athena:
>Query: SELECT DISTINCT salario_anual FROM credito
![salario_anual no AWS Athena](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/salario%20anual%20no%20aws.png?raw=true)

### No SQL Light:
>Query: SELECT DISTINCT salario_anual FROM credito
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/Estado%20civil%20no%20light.png?raw=true)

### No SSMS:
>Query: SELECT DISTINCT CAST(salario_anual AS VARCHAR(100)) AS salario_anual
FROM credito;
![salario_anual no SSMS](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/sal%C3%A1rio%20anual%20no%20ssms.png?raw=true)
**ps.:** O tipo de dados text não pode ser usado diretamente na cláusula GROUP BY devido às restrições de comparação e classificação.Para corrigir o erro, você pode aplicar a função CAST ou CONVERT para converter o tipo de dados text para um tipo de dados compatível, como VARCHAR, antes de usar na cláusula GROUP BY.

> Os salários nesse dataset não estão expostas com o valor exato que o cliente ganha. O que está informado é a faixa salarial de cada um. Também contem dados nulos.


## *Quais são os tipos de cartões disponíveis no dataset?*


### No AWS Athena:
>Query: SELECT DISTINCT tipo_cartao  FROM credito
![salario_anual no AWS Athena](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/cart%C3%A3o%20no%20aws.png?raw=true)

### No SQL Light:
>Query: SELECT DISTINCT tipo_cartao  FROM credito
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/cart%C3%A3o%20no%20light.png?raw=true)

### No SSMS:
>Query: SELECT DISTINCT CAST(tipo_cartao  AS VARCHAR(100)) AS tipo_cartao
FROM credito;
![salario_anual no SSMS](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/cart%C3%A3o%20no%20ssms.png?raw=true)
**ps.:** O tipo de dados text não pode ser usado diretamente na cláusula GROUP BY devido às restrições de comparação e classificação.Para corrigir o erro, você pode aplicar a função CAST ou CONVERT para converter o tipo de dados text para um tipo de dados compatível, como VARCHAR, antes de usar na cláusula GROUP BY.

Aqui notamos que não há valores nulos, então não precisaremos tratar nulos na coluna tipo_cartao. Agora vamos saber quantas linhas do nosso banco estão com valores nulos?

## **Análise de dados**

>Para garantir o sucesso da campanha, a Card formulam perguntas estratégicas. Essas perguntas visam identificar o público-alvo adequado, entender as preferências dos clientes, explorar associações entre variáveis e determinar os melhores momentos e abordagens para lançar a campanha

### **Perguntas estratégicas**

**1 - Qual é a faixa etária predominante dos clientes, a fim de direcionar a campanha para o público-alvo adequado?**

**Query**: SELECT COUNT(*) AS Contagem, faixa_idade
FROM ( SELECT idade,CASE WHEN idade >= (SELECT MIN(idade) FROM credito)
AND   idade < (SELECT MIN(idade) + (MAX(idade) - MIN(idade))/4 FROM credito) THEN '26_36'
WHEN idade >= (SELECT MIN(idade) + (MAX(idade) - MIN(idade))/4 FROM credito)
AND idade < (SELECT MIN(idade) + ((MAX(idade) - MIN(idade))/4) *2 FROM credito) THEN '37_47'
WHEN idade >= (SELECT MIN(idade) + ((MAX(idade) - MIN(idade))/4)*2 FROM credito)
AND idade < (SELECT MIN(idade) + ((MAX(idade) - MIN(idade))/4)*3 FROM credito) THEN '48_58'
ELSE '59_'
END AS faixa_idade FROM credito) AS subquery
GROUP BY faixa_idade
ORDER by Contagem;


>#### A faixa etária predominante dos clientes é de 37 a 47 anos
*No SQLight:*
![faixa_idade no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/idade%20light.png?raw=true)
>>*No PowerBI:*
![faixa_idade no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/idade%20PB.png?raw=true)

**2- Existe uma diferença significativa entre homens e mulheres em termos de preferências ou comportamentos de compra? Isso deve ser considerado na estratégia de marketing.**

Query 1:
SELECT  sexo,
tipo_cartao,
SUM(qtd_produtos) AS prod_comprados
FROM credito
GROUP BY tipo_cartao,sexo
ORDER by prod_comprados DESC

>#### Em termos de preferencias,não. Porque ambos preferem o cartão Blue.Mas em comportamento de compra, mulheres compram mais que homens o cartão blue
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/SEXO%20LIGHT.png?raw=true)
>>*No PowerBI*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/sexo%20PB.png?raw=true)

**3 - Existe uma relação entre a quantidade de dependentes e a propensão dos clientes a adquirirem novos produtos ou responderem a campanhas de marketing?**

**Query:**
SELECT dependentes, ROUND(AVG(qtd_produtos),1) AS media_qtd_produtos, sum(qtd_produtos), ROUND(AVG(iteracoes_12m),1) AS media_iteracoes_anual
FROM credito
GROUP BY dependentes
ORDER by media_qtd_produtos, media_iteracoes_anual, sum(qtd_produtos) desc


>#### Quanto menos dependentes mais interações no ano e compra de produtos. Porém, quem tem 2 a 3 filhos atigiram um volume total maior de produtos podendo se tornar um publico alvo.
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/dependentes%20LIGHT.png?raw=true)
>>*No Power BI*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/dependentes%20PB.png?raw=true)

**4- Existe uma correlação entre o nível de escolaridade dos clientes e sua disposição em experimentar novos produtos ou responder a promoções?**


**Query SQL light**:
SELECT escolaridade, ROUND(AVG(qtd_produtos),1) AS media_qtd_produtos, sum(qtd_produtos), ROUND(AVG(iteracoes_12m),1) AS media_iteracoes_anual
FROM credito
GROUP BY escolaridade
ORDER by media_qtd_produtos, media_iteracoes_anual, sum(qtd_produtos) desc

>#### Não existe relação entre o grau de instrução na influência de aquisição de produto. Mas quem tem mestrado tem um volume maior de compra de produtos e o grupo "sem educacão formal" compra em média mais qtds e interagem um pouco mais.
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/escolaridade%20LIGHT.png?raw=true)
>> No Power BI
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/escolaridade%20PB.png?raw=true)


**5 -Existe alguma associação entre o estado civil dos clientes e sua propensão a participar de campanhas ou adquirir novos produtos?**

**Query SQL light**:
SELECT estado_civil, ROUND(AVG(qtd_produtos),0) AS media_qtd_produtos, sum(qtd_produtos), ROUND(AVG(iteracoes_12m),0) AS media_iteracoes_anual
FROM credito
GROUP BY estado_civil
ORDER by media_qtd_produtos, media_iteracoes_anual, sum(qtd_produtos) desc

>#### Casados tiveram um volume maior de compra de produtos, porém quem nunca casou que interage um pouco mais. Os grupo que já se casaram alguma vez compram maiores quantidade.
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/estado_civil%20LIGHT.png?raw=true)
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/estado_civil%20PB.png?raw=true)


**6 - Qual é a faixa salarial dos clientes que apresenta maior potencial de compra ou adesão a um novo produto?**
*Query: SELECT salario_anual, ROUND(AVG(qtd_produtos),1) AS media_qtd_produtos, sum(qtd_produtos)
FROM credito
GROUP BY salario_anual
ORDER by media_qtd_produtos, sum(qtd_produtos) desc


>#### Quem recebe menos de 40k tem maior possibilidade de compra de um novo produto
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/sal%C3%A1rio%20LIGHT.png?raw=true)

>> *No PB*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/sal%C3%A1rio%20PB.png?raw=true)

**7 -Existe alguma preferência em relação ao tipo de cartão utilizado pelos clientes? Isso pode influenciar a forma como a campanha é direcionada.**

Query: SELECT tipo_cartao, sum(qtd_produtos),COUNT(*) AS total
FROM credito
GROUP BY tipo_cartao
ORDER BY total DESC;


>#### Sim os clientes  preferem significativamente o cartao Blue
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/tipo_cartao%20LIGHT.png?raw=true)
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/cartao%20PB.png?raw=true)


**8 -A quantidade média de produtos possuídos pelos clientes influencia sua probabilidade de adquirir novos produtos?**


**Query:** SELECT (qtd_produtos), sum(qtd_produtos) as qts_comprada, COUNT(id) as contagem_pessoas
FROM credito
GROUP BY qtd_produtos
ORDER by sum(qtd_produtos) DESC

>### *sim pois se trata de uma média podendo variar para a compra de mais ou menos produtos*
*No SQLIGHT:*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/m%C3%A9d_prod_comprados%20LIGHT.png?raw=true)
*No PowerBI:*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/m%C3%A9d_prod_comprados%20PB.png?raw=true)

**9 - Qual é a frequência de interação dos clientes com a empresa nos últimos 12 meses? Isso pode indicar o engajamento dos clientes e a receptividade à campanha.**

query:  

>### *Nosso publico alvo tem uma média de duas iterações em 12 meses e uma máxima de 6 iterações*
*No SQLight*
![salario_anual no SQL Light](https://raw.githubusercontent.com/DaniBitencourt/imagens_notbook_kaggle/749202f3c06d9177844340e4e31cb3fef8433477/itera%C3%A7%C3%B5es%20LIGHT.png)
*No Power BI*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/iteracoes%20PB.png?raw=true)

**10 - Os meses de inatividade dos clientes afetam sua propensão a participar de campanhas ou adquirir novos produtos? Deve-se considerar a melhor época para lançar a campanha.**

Query: SELECT meses_inativo_12m,
SUM(iteracoes_12m) as iteracoes_12m ,
sum(qtd_produtos)as   qtd_produtos
from credito
group by meses_inativo_12m
ORDER by iteracoes_12m, qtd_produtos desc

>### *Sim, de 1 á 6 meses inativo a iteração sobe um pouco. Inativos de 1 até 3 meses acabam consumindo mais produtos,mas a partir de 4 há uma queda significativa nesse volume. Quem não ficou inativo e quem ficou inativo 6 meses geralmente compram mais quantidades de produtos.*
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/inativa%C3%A7%C3%B5es%20LIGHT.png?raw=true)
*No Power BI*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/inativa%C3%A7%C3%B5es%20PB.png?raw=true)

**11-Qual é o valor total de transações realizadas pelos clientes nos últimos 12 meses? Isso pode indicar o potencial de receita gerada pela campanha.**

Query: SELECT sum(valor_transacoes_12m) AS valor_transacoes, ROUND(AVG(qtd_transacoes_12m),2) as med_qtd_transacoes
FROM credito

> ### **Nosso fez um total de 174.451,25 reais em transações**
**No SQLight**
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/valor_transa%C3%A7%C3%B5es%20LIGHT.png?raw=true)

**11-Qual é a média de transações realizadas pelos clientes em um período de 12 meses? Isso pode ajudar a estimar a demanda e estabelecer metas realistas para a campanha.**


*query:* SELECT sum(valor_transacoes_12m) AS valor_transacoes, ROUND(AVG(qtd_transacoes_12m),2) as med_qtd_transacoes
FROM credito
>### Uma média de 65 transacões anual
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/valor_transa%C3%A7%C3%B5es%20LIGHT.png?raw=true)

**13- Existe alguma relação entre o limite de crédito dos clientes e sua propensão a adquirir produtos de maior valor?**

**query** SELECT limite_credito, ROUND(AVG(valor_transacoes_12m),2) AS media_valor_transacoes
FROM credito
GROUP BY limite_credito

>### *Não. Quem tem pouco limite também compra produtos de maior valor. Porém quem tem um limite alto pode ser que façam menos transações, observamos melhor isso nos gráficos.*
*No SQLight*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/valorproduto%20SQLIGHT.png?raw=true)
*No Power BI*
![salario_anual no SQL Light](https://github.com/DaniBitencourt/imagens_notbook_kaggle/blob/main/valorproduto%20PB.png?raw=true)

# Conclusão
>Em resumo, a análise exploratória de dados é uma etapa preliminar que visa entender os dados, enquanto a análise dos dados é uma etapa mais avançada que utiliza técnicas estatísticas e algoritmos para obter insights e responder a perguntas específicas.
> Essa ultima análise aprofundada auxiliou a Card a direcionar a campanha de forma eficaz, aumentar o engajamento dos clientes e impulsionar as vendas do novo produto. Ambas as etapas são importantes e complementares no processo de análise de dados.

A card alcançou:

>**Identificação do público-alvo:**
> - Mulheres
> - idade entre 37 e 47 anos,
> - Casada
> - dependentes 2 á 3
> - Escolaridade Mestrado  
> - faixa salárial menos que 40k
> - limites menores

>**Preferências dos clientes,**
> - Preferem o cartão blue
> - Mulheres compram mais que os homens
> - Quanto menos dependentes mais interações e qtd de produtos.
> - "sem educacão formal" compra em média mais qtds e são engajados.
> - Quem nunca casou que interage um pouco mais.
> - Os grupo que já se casou alguma vez compram maiores quantidade.
> - As pessoas preferem comprar em média 3 produtos
> - Quem tem o limite baixo também pode adquirir um produto mais caro
> - realizam em média 65 transações no ano

>**Explorou associações entre variáveis e**
> - Sim existe relação entre o status civil, dependentes no grau de engajamento e na quantidade de produtos comprados.
> - Não existe relação entre a Escolaridade e o grau de engajamento.

>**identificou os melhores momentos e abordagens para lançar a campanha**
> - Melhor momento de abordadem é quando a pessoa esta solteira, pois ela esta engajada.
> - Quando estão a entre 2 e 3 meses inativos.